<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="default-src 'self' https://www.googletagmanager.com https://www.google-analytics.com 'unsafe-eval'; img-src 'self' https://www.google-analytics.com blob: data:; connect-src 'self' https://www.google-analytics.com blob:; frame-src https://my.matterport.com/; frame-ancestors 'self'; form-action 'self' " />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Weiwuying.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
  </system.webServer>
</configuration>
<!--ProjectGuid: e9f61e24-db6a-49ba-9c32-615632116367-->